* {
    padding: 0;
    margin: 0;
    /* text-decoration: none; */
    /* list-style: none; */
    /* box-sizing: border-box; */
  }
  body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(153, 224, 255);
  }
  .navbar{   
      background-color: lightblue;
      display: flex;
      justify-content: space-around;
      width: 100%;
  }
  .navigation-logo{
      width: 70px;
  }
  .navigation{
      display: flex;
      list-style: none;
  }
  .nav-list{
      margin-left: 50px;
      align-self: center;
  }
  .nav-list a{
      text-decoration: none;
      color: white;
  }
  .nav-list a:hover{
      color: rgb(67, 113, 221);
  }
  .active{
      color: rgba(128, 128, 128, 0.766) !important; 
  }
  .content{
      /* display: flex; */
  }
  .side-menu{
      background-color: rgba(253, 174, 125, 0.933) ;
      line-height: 5ch;
  }
  .information{ 
      padding: 30px;
  }
  .ppd{
    line-height: 25px;
  }
  .summary{
    margin-left: auto;
    margin-right: auto;
  }

  .subjects{
    list-style: circle;
  }
  
  .course-overview{
    background-color: beige;
    padding: 15px;
    text-align: center;
    border-collapse: collapse;
    margin: 25px;
    font-size:medium; 
    /* border-style: double; */
  }

  .accordion{
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    cursor:pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border:none;
    outline: none;
    transition: 0.4s;
  }
/* ---- table design ---- */

td,th {
    border: 1px solid black;
    padding: 10px;
}

td {
   text-align: center;
}

tr:nth-child(even) {
background-color: rgb(138, 236, 255);
}

tr:nth-child(odd) {
    background-color: lightgray;
}

th[scope="col"] {
  background-color: #696969;
  color: #fff;
}

th[scope="row"] {
  background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;

}

table {
  border-collapse: collapse;
  border: 2px solid black;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 1rem;
  margin: 1%;
}

  footer{
    background-color: rgba(211, 211, 211, 0.811);
    padding:30px;
  }