* {
    padding: 0;
    margin: 0;
    /* text-decoration: none; */
    /* list-style: none; */
    /* box-sizing: border-box; */
  }
  body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(153, 224, 255);
  }
  .navbar{   
      background-color: lightblue;
      display: flex;
      justify-content: space-around;
      width: 100%;
      position: fixed;
      top: 0;
  }
  .navigation-logo{
      width: 70px;
  }
  .navigation{
      display: flex;
      list-style: none;
  }
  .nav-list{
      margin-left: 50px;
      align-self: center;
  }
  .nav-list a{
      text-decoration: none;
      color: white;
  }
  .nav-list a:hover{
      color: rgb(67, 113, 221);
  }
  .active{
      color: rgba(128, 128, 128, 0.766) !important; 
  }
  .content{
      display: flex;
      justify-content: space-between;
      margin-top: 70px;
  }
  .side-menu{
      background-color: lightgreen;
      margin-top: 20px;
      width: 20%;
      height: 50vh;
      border-radius: 20px;
  }
  .side-menu li{
      list-style: none;
      padding: 30px 0px 0px 20px;
      padding-top: 30px;
  }
  .side-menu li a{
    text-decoration: none;
    color: black;
    text-decoration: underline;
  }

  .images{
    display: flex;
    margin-top: 20px;
  }

  .ict-image{
    height: 50vh;
    margin-right: 20px;
  }

  .work-ict{
    height: 50vh;
  }

  .information{ 
      padding: 30px 0 0px 0px;
  }
  .information h1{
      text-align: center;
      padding-bottom: 20px;
      font-size: 35px;
      color: rgba(255, 255, 255, 0.915);
  }
  .information  p{
    line-height: 20px;
  }

  .ppd{
    line-height: 25px;
  }

  .summary{
    width: 70%;
    padding-right: 50px;
  }

.summary h1{
  text-align: center;
  padding-top: 20px;
  font-size: 35px;
  color:rgba(255, 255, 255, 0.915);
  }

.summary h2{
  padding-top: 20px;
  color:rgba(255, 255, 255, 0.915);
}

.summary ul{
  list-style: circle;
}

  .subjects{
    list-style:circle;
  }
  
  .course-overview{
    background-color: beige;
    padding: 15px;
    text-align: center;
    border-collapse: collapse;
    margin: 25px;
    font-size:medium; 
    /* border-style: double; */
  }
/* ---- table design ---- */

td,th {
    border: 1px solid black;
    padding: 10px;
}

td {
   text-align: center;
}

tr:nth-child(even) {
background-color: rgb(255, 140, 87);
}

tr:nth-child(odd) {
    background-color: white;
}

th[scope="col"] {
  background-color: #696969;
  

th[scope="row"] {
  background-color: #7c85fd;
}

table {
  border-collapse: collapse;
  border: 2px solid black;
  letter-spacing: 1px;
  font-family:'Times New Roman', Times, serif;
  font-size: 1rem;
  margin: 1%;
}

footer{
    background-color: white;
    padding: 50px;
  }