* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(77, 192, 240);
  }
  .navbar{   
      background-color: lightblue;
      display: flex;
      justify-content: space-around;
      width: 100%;
  }
  .navigation-logo{
      width: 70px;
  }
  .navigation{
      display: flex;
      list-style: none;
  }
  .nav-list{
      margin-left: 50px;
      align-self: center;
  }
  .nav-list a{
      text-decoration: none;
      color: white;
  }
  .nav-list a:hover{
      color: rgb(67, 113, 221);
  }
  .active{
      color: rgba(128, 128, 128, 0.766) !important; 
  }
  .content{
      display: flex;
  }
  .side-menu{
      background-color: rgba(251, 153, 87, 0.933) ;
      line-height: 5ch;
  }
  .information{ 
      padding: 30px;
  }
  .ppd{
    line-height: 25px;
  }
  .summary{
    margin-left: auto;
    margin-right: auto;
  }
  .subjects{
    list-style: circle;
  }
  
  .course-overview{
    background-color: beige;
    padding: 15px;
    text-align: center;
    border-collapse: collapse;
    margin: 25px;
    font-size:medium; 
    border-style: double;
  }
  .box{ 
    width: 200px;
    margin:100px auto;
    background-color: rgb(67, 225, 230);
    border: radius 7px;
  }
  .box.title{ 
    background-color: beige;
    padding: 10px;
    text-align: center;
  }
  footer{
    background-color: rgba(211, 211, 211, 0.811);
    padding:30px;
  }